import { useEffect } from 'react';

interface I{componentName} {
  test: string
}

const {componentName} = ({ test }: I{componentName}) => {

  useEffect(() => {
    console.log(`{componentName} mounted`)
  }, [])

  return (
    <div className="{componentName}-component">
      Test content
    </div>
  )
}

export default {componentName};
