import PropTypes from {quotes}prop-types{quotes};
import { useDispatch } from {quotes}react-redux{quotes};
//import { Test } from './{componentName}.styles';

const {componentName} = (props) => {
  const dispatch = useDispatch()

  return (
    <div className="{componentName}-component">
      Test content
    </div>
  )
}

{componentName}.propTypes = {
  // bla: PropTypes.string,
};

{componentName}.defaultProps = {
  // bla: 'test',
};

export default {componentName}